<!doctype html>
<html>
   <body>
   
      <form action = "/result" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
         <!-- 학번 -->
         <p>Student Number <input type = "text" name = "StudentNumber" /></p>
         <!-- 성별 -->
         <p>Gender</p> 
         <p><input type ="radio" name = "Gender" value="Male"/>Male<input type ="radio" name = "Gender" value="Female"/>Female</p>  
         <!-- 학과 -->
         <!-- 프로그래밍 언어 -->
         <P>Programming Languages</P>
         <p>
            <input type ="checkbox" name ="languages" value="Python"/>Python
            <input type ="checkbox" name ="languages" value="Java"/>Java
            <input type ="checkbox" name ="languages" value="HTML"/>HTML
            <input type ="checkbox" name ="languages" value="C++"/>C++
         </p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>
